<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AskExtension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <AskExtension.Properties.Settings>
      <setting name="StackExchangeApiApplicationId" serializeAs="String">
        <value>7356</value>
      </setting>
      <setting name="StackExchangeApiKey" serializeAs="String">
        <value>SYqy5Nlt8*V6uIgK)hWo0A((</value>
      </setting>
      <setting name="StackExchangeApiAuthUrl" serializeAs="String">
        <value>https://stackexchange.com/oauth/dialog</value>
      </setting>
      <setting name="StackExchangeApiAuthSuccessUrl" serializeAs="String">
        <value>https://stackexchange.com/oauth/login_success</value>
      </setting>
      <setting name="StackExchangeApiRequestedScope" serializeAs="String">
        <value>write_access,private_info</value>
      </setting>
    </AskExtension.Properties.Settings>
  </applicationSettings>
</configuration>